.Widget-Coordinate{
  position: absolute;
  width: 500px;
  height: 51px;  
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: all .3s ease-in;
}

.Widget-Coordinate.hide{
  bottom: -40px;
}

.Widget-Coordinate .tab{
  width: 100%;
  height: 11px;

}
  .Widget-Coordinate .tab>ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    width: 100%;
    height: 100%;
  }
    .Widget-Coordinate .tab>ul li{
      list-style: none;
      height: 100%;
    }
    .Widget-Coordinate .tab>ul li:nth-child(1),
    .Widget-Coordinate .tab>ul li:nth-child(3){
      flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
    }

    .Widget-Coordinate .tab>ul li:nth-child(2){
      flex: 0 0 115px;
      -webkit-flex: 0 0 115px;
      -moz-flex: 0 0 115px;
      -ms-flex: 0 0 115px;
      cursor: pointer;
    }

    .Widget-Coordinate .tab_open{
      background-image: url(../images/visor-abierto.png);
      background-size: cover;
    }

    .Widget-Coordinate .tab_close{
      background-image: url(../images/visor-replegado.png);
      background-size: cover;
    }


.Widget-Coordinate .content{
  width: 100%;
  height: 40px;
  background:rgba(0,0,0,.6);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #FFFFFF;
  font-size: 12px;
}

.Widget-Coordinate .content >div{
  width: 50%;
  float: left;
  height: 100%;
} 
  .content_escala{
    margin-top: 3px;
    margin-left: 8px;
    margin-right: 2px;
    height: 34px;    
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
  }
    .content_escala >li{
      height: 100%;
      list-style: none;      
    }

    .content_escala >li:nth-child(1){
      flex: 0 0 60px;
      -webkit-flex: 0 0 60px;
      -moz-flex: 0 0 60px;
      -ms-flex: 0 0 60px;   
      line-height: 34px;
      font-size: 15px;
      font-weight: 550;
    }
    .content_escala >li:nth-child(2){
      flex:auto;
      -webkit-flex:auto;
      -moz-flex:auto;
      -ms-flex:auto;
    }
      .select_coordinate select{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #3090AC;
        background-image: none;
        color: #fff;
        cursor: pointer;    
        height: 100%;
        width: 100%;    
      }
      .select_coordinate{
        width: 96%;
        height: 28px;
        position: relative;
        display: block;
        line-height:30px;
        background: #3090AC;
        overflow: hidden;
        border-radius: 4px;
        margin-top: 4px;
      }
      .select_coordinate select::-ms-expand {
        display: none;
      }
      .select_coordinate::after{
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 4px;
        margin:3px 3px;
        border: solid 1px #FFFFFF;
        background: #3090AC;
        border-radius: 50%;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        line-height: 24px;
      }
      .select_coordinate:hover::after{
        color: #00636B;
        border-color: #00636B;
      }

    .content_escala >li:nth-child(3){
      flex: 0 0 60px;
      -webkit-flex: 0 0 60px;
      -moz-flex: 0 0 60px;
      -ms-flex: 0 0 60px;
    }
      .content_escala >li:nth-child(3) div{
        height: 48%;     
        margin-top: 2%
      }
  .content_coordenada{
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 8px;
    padding: 0px;
    height: 16px;
    width: 240px;
    background-color: #3090AC;
    border-radius: 2px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
  }
  .content_coordenada > li{
    list-style: none;    
    line-height: 18px;
    align-items: center;
    
  }
  .content_coordenada > li:nth-child(1),
  .content_coordenada > li:nth-child(3){
    flex: 0 0 20px;
    -webkit-flex: 0 0 20px;
    -moz-flex: 0 0 20px;
    -ms-flex: 0 0 20px;    
    text-align: right;
  }
  .content_coordenada > li:nth-child(2),
  .content_coordenada > li:nth-child(4){
    padding-left: 2px;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;    
    text-align: left;
  }