.widget-ConsultaSimple div:first-child {
    color: black;
}
  
.widget-ConsultaSimple .consulta {
    color: #fff !important;
    line-height: 20px;
    background-color: #72BF44  !important;
    border: 0;
    min-width: 120px;
    padding: 5px;
    /*  text-transform: uppercase;*/
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 2px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 2px;
    background-attachment: scroll;
}
  
.widget-ConsultaSimple .consulta:hover {
    background: linear-gradient(45deg, #557b3f , #789855 );
    color: white;
}
  
.widget-ConsultaSimple #txtWhere {
    height: 100px;
}

.widget-ConsultaSimple .dijitInputField {	
	padding: 5px 10px;
}
.widget-ConsultaSimple div.dijitArrowButton.dijitDownArrowButton {
	width: 18px;
	height: 100%;
}

.widget-ConsultaSimple button{
    width: 48%;
    float: left;
    margin: 0px;
}
.widget-ConsultaSimple button:first-child{
    margin-right: 4%;
}

