.boxMenu_options_btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: left;    
}
    .boxMenu_options_btn img{
        width: 100%;
        height: 100%;
    }
.boxMenu_options_btn_A{
    border-left: 1px solid rgba(0,0,0,0.2);
}
