.AdicionarDatos{
    width: 100%;
    height: 100%;
}

.AdicionarDatos .box.is-dragover {
    background-color:rgba(255, 255, 255, 0.5);
    border-color: #00636B;
}

    .AdicionarDatos form{
        width: calc(100% - 22px);
        height: calc(100% - 22px);
        margin: 10px;
        border: 2px dashed #3090AC;
        position: relative;
        text-align: center;
        border-radius: 3px;
    }
        .AdicionarDatos .box__input{
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-100px);
            width: 100%;
            height: 0px;
            margin-left: auto;
            margin-right: auto;
        }

        .AdicionarDatos .box__input.inProcess{
            animation: upDown 0.8s ease-in 0s infinite normal none;
        }
        .AdicionarDatos .box__input.inProcess label,
        .AdicionarDatos .box__input.inProcess span{
            display: none;
        }
        @keyframes upDown{
            0% {
                top:50%;
            }
            50% {
                top: 46%;
            }
            100%{
                top: 50%;
            }
        }
        .AdicionarDatos .box__input i{
            font-size: 9rem;            
        }
        .box__file{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    
        .box__file + label {
            height: 25px;
            width: 100px;
            border-radius: 2px;
            background-color:#3090AC;
            display:block;
            line-height: 25px;
            color: #FFFFFF;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
        }
        .box__file + label:hover {
            background-color: #00636B;
        }
        .type-icon{
            width: 45px;
            height: auto;
            display: none;
        }

.box.is-dragover
{
        
}


.AdicionarDatos .box__dragndrop,
.AdicionarDatos .box__uploading,
.AdicionarDatos .box__success,
.AdicionarDatos .box__error {
  display: none;
}



.AdicionarDatos .box.has-advanced-upload {
   
}
.AdicionarDatos .box.has-advanced-upload .box__dragndrop {
    display: inline;
}

